!!!
%title Person Form

= mold :person do |form|

  %dl
    %dt= form.label :name
    %dd= form.input :name

  %fieldset
    %legend Spouse

    %dl
      = form.nest :spouse do |spouse_form|
        %dt= form.label :name
        %dd= spouse_form.input :name

  %fieldset 
    %legend Children

    %dl
      = form.nest_many :children do |child_form|

        %dt= child_form.label :name
        %dd= child_form.input :name

        %dt= child_form.label :age
        %dd= child_form.input :age, :type => :numeric

        %dt= child_form.label :pets
        = child_form.nest_many :pets do |pet_form|
          %dd
            = pet_form.input :name
            = pet_form.select :species, {:dog => "Dog", :cat => "Cat"}
